body{
  text-align: center;
}

h1 {
  font-weight: 800;
  font-family: italic;
  background-color: antiquewhite;
  color: rgb(123, 0, 255);
  border: 4px double chocolate;
  border-radius: 25px;
}

.choice-button {
  height: 200px;
  width: 200px;
  border: none;
  margin: 10px;
  background-color: rgb(137, 177, 255);
  cursor: pointer;
}

.choice-image {
  height: 200px;
}

.choice-button:hover {
  background-color: rgb(230, 243, 132);
}

.choice-button:active {
  background-color: rgb(243, 120, 26);
}